<div class="container">

    <u><h1> Password Reset </h1></u>
<div class="form-group"> <h3>Email</h3>
    <input type="email" name="email" class="form-control" style="width:300px; text-align:center" ng-model="vm.user.email" required>
</div>
  <button class="btn btn-register" value="Submit" style="float: center;">Submit</button>
  <br>
  <br>
    <p> Upon hitting submit, an email with be sent to the corresponding
      address with a verification code. <br>
      Enter it below. </p>
      <hr>
      <div class="form-group"> <h3>Verification Code</h3>
      <input type="value" name="password" style="width:300px;" class="form-control" ng-model="vm.user.password" required>
    </div>

</div>
