<html>
<!-- <img src="/assets/images/logoKeyotProj.jpg"> -->
<div class="container" ng-show="$ctrl.initialView">

<u><h1> Password Reset </h1></u>
<div class="form-group"> <h3>Email</h3>
    <input type="email" name="email" class="form-control" style="width:300px; text-align:center" ng-model="vm.user.email" required>
</div>

  <button class="btn btn-register" value="Submit" style="float: center;">Submit</button>
  <br>
  <br>
    <p> Upon hitting submit, an email with be sent to the corresponding
      address with a verification code. <br>
      Enter it below. </p>
      <div class="form-group"> <u><h1>Verification Code</h1></u>
      <input type="value" name="verificationCode" style="width:300px;" class="form-control" required>
    </div>
    <button class="btn btn-register" value="EnterCode" style="float: center;" ng-click= "$ctrl.changeView()">Enter Code</button>

<hr>
</div>



<div class="container" ng-show="$ctrl.secondView">
  <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
  <div class="form-group">
    <h3>New Password</h3>
    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
           ng-minlength="3"
           required
           mongoose-error/>
    <p class="help-block"
       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
      Password must be at least 3 characters.
    </p>
    <p class="help-block" ng-show="form.newPassword.$error.mongoose">
          {{ vm.errors.password }}
    </p>
</div>

<div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                        'has-error': form.confirmPassword.$invalid && vm.submitted }">

  <div class="form-group" ng-show="$ctrl.secondView">
    <h3>Confirm Password</h3>
    <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
           match="vm.user.newPassword"
           required
           ng-minlength="3"/>
       <p class="help-block"
              ng-show="(form.confirmPassword.$error.match || form.confirmPassword.$error.required) && (form.confirmPassword.$dirty ||
              vm.submitted)">
             Passwords must match.
       </p>
  </div>

  <p class="help-block" ng-show="form.confirmPassword.$error.mongoose">
  {{ vm.message }} </p>

  <div>
    <button class="btn btn-lg btn-primary" type="submit" style="float: right;">Save Changes</button>
  </div>

  </form>
  </div>


</html>
